.Image{
    width: 100vw;
    height:500px
}
.Image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Detail_area{
    height: 1800px;
    position: relative;
}
.Detail5{
    top:270px;
    position:absolute;
    left:40px;
    background-color: rgb(34, 31, 31);
    height:450px;
    width: 550px;
    opacity: 0.85;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.1px;
    color: azure;
    z-index: 1;
}
.Title1{
    font-family: Arial, sans-serif;
    margin-left: 30px;
}
.reviews{
   
    position:absolute;
    width: 100vw;
    background-color:black;
    height: 1400px;
    z-index: 0;
    color:white;
    
}
.review_parent{
    position:relative;
}
.review{
   
    position:absolute;
    width: 100vw;
    background-color:black;
    height: 400px;
    z-index: 0;
    color:white;
    top: 250px;
    left: 110px;
   
    
}

.Cart_btn{
    width: 90%;
    height: 20px;
    background-color: orange;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    font-weight:550;
}

.Cart_cont{
    margin-top: 110px;
    margin-left:-10px;
}
.Cart_btn:hover{
   background-color: red;
   cursor: pointer;   
}
.Navbar_Detail{
    background-color:white;
    width: 100%;
    height:60px;
    position: relative;
    border-bottom: gray 3px solid ;
}
.Nav_Cart{
    position: absolute;
    left: 100px;
    top:10px
}
.Nav_Cart img:hover{
    
   cursor: pointer;
   scale: 1.5;
   
}
.Number{
    position: absolute;
    border-radius:45% ;
    background-color: red;
    height: fit-content;
    width:20px;
    top: 5px;
    left:130px;
    color: white;
    padding-left: 10px;
}